body {
    max-width: 600px;
    margin: auto;
    padding: 20px 50px;
    background-color: beige;

}

#main {
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    padding: 5px;
    border-radius: 15px;
    margin-top: 50px;
}

.fartbutton {
    vertical-align: middle;
    color: saddlebrown;
    background-color: beige;
    border-radius: 10px;
    margin-bottom: 10px;
}

.farttrumpet {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

h1 {
    font-family: Arial;
    text-align: center;
    }

.button:hover {
    color: red;
}
